{% extends 'base.html.twig' %}

{% block title %}Liste des Tables{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <h1 class="text-2xl font-bold text-red-600 mb-6">Liste des Tables</h1>

    <table class="w-full border border-gray-300 text-left">
        <thead class="bg-gray-100">
            <tr>
                <th class="py-2 px-4 border">Numéro</th>
                <th class="py-2 px-4 border">Places</th>
                <th class="py-2 px-4 border">Disponible</th>
                <th class="py-2 px-4 border">Nom du Restaurant</th>
            </tr>
        </thead>
        <tbody>
            {% for table in tables %}
                <tr>
                    <td class="py-2 px-4 border">{{ table.number }}</td>
                    <td class="py-2 px-4 border">{{ table.seats }}</td>
                    <td class="py-2 px-4 border">{{ table.isAvailable ? 'Oui' : 'Non' }}</td>
                    <td class="py-2 px-4 border">{{ table.restaurant.name }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" class="text-center text-gray-500">Aucune table trouvée.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
